.control-panel {
  background-color: #6ed5e7;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.control-panel button {
  font: inherit;
  padding: 1rem 2rem;
  border: 1px solid #b14fdf;
  background-color: #b14fdf;
  border: 3px solid rgb(255, 255, 255);
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.control-panel button:hover,
.control-panel button:active {
  background-color: #510674;
  border-color: #b14fdf;
}
/* 
.control-panel button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.control-panel button.alternative:hover,
.control-panel button.alternative:active {
  background-color: #ddb3f8;
} */
