@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Lobster&family=Montserrat:wght@300&family=Permanent+Marker&family=Raleway:wght@400;700&display=swap");
h1 {
  font-family: "Lato", sans-serif;
  color: white;
  text-align: center;
  font-size: 2rem;
}
