@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300&family=Raleway:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Lobster", cursive;
}

body {
  margin: 0;
  background-color: #c8eef5;
}
